html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.com-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.com-page-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.com-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dataEntryCard {
  border-radius: 13px;
  background: #f2f3f5;
  box-shadow: 5px 5px 10px #d7d7d7, -5px -5px 10px #e9e9e9;
}
.com-chart {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  border-radius: 20px;
}
